<body>
<div class="cart-container">
  <h1>Cart</h1>
  <div class="cart-items">
    <div class="cart-item" *ngFor="let product of cartProducts">
      <div class="product-info">
        <img [src]="product.img_path" alt="Product Image" class="product-image-small" />
        <div class="product-details">
          <h3 class="name">{{ product.brand }} {{ product.name }}</h3>
          <p class="price">Prijs: €{{ product.price }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="cart-total">
    <h3>Total price: € {{ getTotalPrice() }}</h3>
    <button (click)="orderCart()">Order</button>
    <button class="clear" (click)="clearCart()">Clear cart</button>
  </div>
<!--  <div class="promo-code-input">-->
<!--    <label for="promoCode">Promocode:</label>-->
<!--    <input type="text" id="promoCode" name="promoCode" (ngModel)]="//promoCode" />-->
<!--    <button (click)="//applyPromoCode()"> Apply</button>-->
<!--  </div>-->
</div>
</body>
