<nav class="navbar navbar-default my-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="" class="navbar-brand">FragranceShop</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="store">Webshop</a></li>
        <li><a href="cart">Cart</a></li>
        <li *ngIf="!isLoggedIn">
          <a (click)="login()">Login</a>
        </li>
        <li *ngIf="isLoggedIn">
          <a href="account">Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
