<div class="account-container">
  <h1>Account Details</h1>

  <div class="account-info">
    <h4>Email: {{ userModel?.email }}</h4>
    <h4>Role: {{ userModel?.role }}</h4>
    <h4>Orders:</h4>
    <ul>
      <li *ngFor="let order of userOrders; let i = index">
        <p>Order {{ i + 1 }}: {{ order.orderID }}</p>
      </li>
    </ul>
  </div>

  <button class="logout-btn" (click)="logout()">Logout</button>
  <button *ngIf="userModel?.role === 'ADMIN'" class="admin-btn" (click)="adminLink()">Admin Panel</button>
</div>
